@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=auto');

@layer base {
  /* @font-face {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
    } */

  ::selection {
    @apply bg-gray-800 text-white;
    /* WebKit/Blink Browsers */
  }

  ::-moz-selection {
    @apply bg-gray-800 text-white;
    /* Gecko Browsers */
  }

  .autosearch__wrapper {
    @apply box-border relative w-full;
  }
  .autosearch__input {
    @apply border-none bg-transparent
     focus:bg-white focus:ring-2 focus:ring-gray-300 rounded
     box-border text-base p-2 pr-7 w-full outline-none;
  }
  .autosearch__result__option {
    @apply hover:bg-wa-light;
  }
  .autosearch__wrapper/* webkit solution */
  ::-webkit-input-placeholder {
    text-align: right;
  }
  /* mozilla solution */
  .autosearch__wrapper input:-moz-placeholder {
    text-align: right;
  }
}
